orphan Count = <%= @exoplanets.getOrphanCount %>
<br>
hottest star = <%= @exoplanets.getHottest['PlanetIdentifier'] %>
<br>
<table>
<thead>
    <th>Year</th>
    <th>small</th>
    <th>medium</th>
    <th>large</th>
</thead>
<tbody>
   <% @exoplanets.getTimeline.each do |year, items|%>
   <tr>
      <td><%= year %></td>
      <td><%= items['small'].size %></td>
      <td><%= items['medium'].size %></td>
      <td><%= items['large'].size %></td>
   </tr>
   <% end %>
</tbody>
</table>
